<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
</head>
<body></body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Shopping Book</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/data/page/book' ? 'active' :''}">
                    <a th:href="@{/data/page/book}">Data Book</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI()=='/data/page/category' ? 'active' : ''}">
                    <a th:href="@{/data/page/category}">Data Category</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI()=='/data/page/cart' ? 'active' : ''}">
                    <a th:href="@{/data/page/cart}">Order Book</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--
<script src="/js/jquery-3.3.1.min.js"></script>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/my-app.js"></script>
</html>