<link href="/css/bootstrap.css" rel="stylesheet"/>
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/css/dataTables.bootstrap.min.css"/>
<link href="/css/jquery.dataTables.min.css"/>
<!--JS-->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/application.js"></script>

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="#">Spring Boot Ajax</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li th:classappend="${#httpServletRequest.getRequestURI()== '/page/index' ? 'active' : ''}">
           <a href="/page/index">Index</a>
           </li>
           <li th:classappend="${#httpServletRequest.getRequestURI()== '/page/category' ? 'active' : ''}">
           <a href="/page/category">Category</a>
           </li>
           <li th:classappend="${#httpServletRequest.getRequestURI()== '/page/book' ? 'active' : ''}">
           <a href="/page/book">Book</a>
           </li>
         </ul>
       </div>
  </div>
</nav>
